<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>


  <Product Name='ほげ 1.0'
           Id='A41D39B3-C19F-430F-A2AE-78579236B7D0'
           UpgradeCode='75D3E97E-4155-4194-ADC0-CF76530FC076'
           Language='1041' Codepage='932'
           Version='1.0.0' Manufacturer='ぴよソフト'>

    <Package Id='*' Keywords='インストーラ'
             Description="ぴよソフト's ほげ 1.0 インストーラ"
             Comments='ほげはぴよソフトの登録商標です。'
             Manufacturer='ぴよソフト' InstallerVersion='100'
             Languages='1041' Compressed='yes' SummaryCodepage='932' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM 1枚目' />
    <Property Id='DiskPrompt' Value="ぴよソフト's ほげ 1.0 インストーラ [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Piyo' Name='Piyo'>
          <Directory Id='INSTALLDIR' Name='Hoge 1.0'>

            <Component Id='MainExecutable'
                       Guid='BE1A455A-A811-4FD9-BDC9-0E95286E5CB6'>
              <File Id='HogeEXE'
                    Name='HogeAppl10.exe' DiskId='1'
                    Source='$(var.SolutionDir)Release\HogeAppl100.exe' KeyPath='yes'>
                <Shortcut Id="startmenuHoge10" Directory="ProgramMenuDir"
                          Name="ほげ 1.0" WorkingDirectory='INSTALLDIR'
                          Icon="Hoge10.exe" IconIndex="0" Advertise="yes" />
                <Shortcut Id="desktopHoge10" Directory="DesktopFolder"
                          Name="ほげ 1.0" WorkingDirectory='INSTALLDIR'
                          Icon="Hoge10.exe" IconIndex="0" Advertise="yes" />
              </File>
            </Component>

            <Component Id='HelperLibrary'
                       Guid='FF7852D8-F01B-4062-B8A2-2D82CC15B1BF'>
              <File Id='HelperDLL' Name='HogeHelper.dll' DiskId='1'
                    Source='$(var.SolutionDir)Release\HogeHelper.dll' KeyPath='yes' />
            </Component>

            <Component Id='Manual'
                       Guid='DD0A4AA6-439B-41E5-810A-8FB2A7169ADE'>
              <File Id='Manual' Name='Manual.pdf' DiskId='1'
                    Source='$(var.SolutionDir)Common\Manual.pdf' KeyPath='yes'>
                <Shortcut Id='startmenuManual' Directory='ProgramMenuDir'
                          Name='取扱説明書' Advertise='yes' />
              </File>
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="ほげ 1.0">
          <Component Id="ProgramMenuDir"
                     Guid="8CC4DFCC-F26F-4A7B-AB94-85B473D2BFD4">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU'
                           Key='Software\[Manufacturer]\[ProductName]'
                           Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />

    </Directory>

    <Feature Id='Complete' Title='ほげ 1.0' Description='完全パッケージ。'
             TypicalDefault='install' Display='expand' Level='1'
             ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='プログラム' Description='メインの実行ファイル。'
               TypicalDefault='install' Level='1'>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='HelperLibrary' />
        <ComponentRef Id='ProgramMenuDir' />
      </Feature>

      <Feature Id='Documentation' Title='説明書'
               Description='取扱説明書。' Level='1'>
        <ComponentRef Id='Manual' />
      </Feature>
    </Feature>

    <UI>
      <Property Id="DefaultUIFont">DlgFont8</Property>

      <Dialog Id="InstallDlg" Width="370" Height="270"
              Title="[ProductName] [Setup]" NoMinimize="yes">
        <Control Id="Install" Type="PushButton"
                 X="236" Y="243" Width="56" Height="17"
                 Default="yes" Text="[ButtonText_Install]">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
        <Control Id="Cancel" Type="PushButton"
                 X="304" Y="243" Width="56" Height="17"
                 Cancel="yes" Text="[ButtonText_Cancel]">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap"
                 X="0" Y="0" Width="370" Height="44"
                 TabSkip="no" Text="[BannerBitmap]" />
        <Control Id="Description" Type="Text"
                 X="25" Y="23" Width="280" Height="15"
                 Transparent="yes" NoPrefix="yes">
          <Text>[Wizard] がインストールを開始する準備が完了しました。</Text>
        </Control>
        <Control Id="Text" Type="Text"
                 X="25" Y="70" Width="320" Height="20">
          <Text>[\[]インストール[\]] をクリックして、インストールを開始して下さい。</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text"
                 X="15" Y="6" Width="200" Height="15"
                 Transparent="yes" NoPrefix="yes">
          <Text>{\DlgTitleFont}インストール準備完了</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>

      <Dialog Id="CancelDlg" Width="260" Height="85"
              Title="[ProductName] [Setup]" NoMinimize="yes">
        <Control Id="No" Type="PushButton"
                 X="132" Y="57" Width="56" Height="17"
                 Default="yes" Cancel="yes" Text="[ButtonText_No]">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Yes" Type="PushButton"
                 X="72" Y="57" Width="56" Height="17" Text="[ButtonText_Yes]">
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
        <Control Id="Text" Type="Text"
                 X="48" Y="15" Width="194" Height="30">
          <Text>[ProductName] のインストールを中止してよろしいですか？</Text>
        </Control>
        <Control Id="Icon" Type="Icon"
                 X="15" Y="15" Width="24" Height="24" ToolTip="情報アイコン"
                 FixedSize="yes" IconSize="32" Text="[InfoIcon]" />
      </Dialog>

      <TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
      <TextStyle Id="DlgTitleFont" FaceName="Tahoma" Size="8" Bold="yes" />

      <InstallUISequence>
        <Show Dialog="InstallDlg" After="CostFinalize" />
      </InstallUISequence>
    </UI>

    <Property Id="Setup">セットアップ</Property>
    <Property Id="ButtonText_No">いいえ(&amp;N)</Property>
    <Property Id="ButtonText_Yes">はい(&amp;Y)</Property>
    <Property Id="ButtonText_Install">インストール(&amp;I)</Property>
    <Property Id="ButtonText_Cancel">キャンセル</Property>
    <Property Id="BannerBitmap">bannrbmp</Property>
    <Property Id="Wizard">セットアップ・ウィザード</Property>
    <Property Id="InfoIcon">info</Property>

    <Binary Id="info" SourceFile="$(var.SolutionDir)Binary\Info.ico" />
    <Binary Id="bannrbmp" SourceFile="$(var.SolutionDir)Binary\Banner.bmp" />
    <Icon Id="Hoge10.exe" SourceFile="$(var.SolutionDir)Release\HogeAppl100.exe" />

  </Product>
</Wix>
