<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Name='ほげ 1.0'
           Id='68645129-5C3A-4887-9013-E56A71F237BC'
           UpgradeCode='F256355C-B96E-4A39-BC11-E4CCAD1376DD'
           Language='1041' Codepage='932'
           Version='1.0.0' Manufacturer='ぴよソフト'>

    <Package Id='*' Keywords='インストーラ'
             Description="ぴよソフト's ほげ 1.0 インストーラ"
             Comments='ほげはぴよソフトの登録商標です。'
             Manufacturer='ぴよソフト' InstallerVersion='100'
             Languages='1041' Compressed='yes' SummaryCodepage='932' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM 1枚目' />
    <Property Id='DiskPrompt' Value="ぴよソフト's ほげ 1.0 インストーラ [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Piyo' Name='Piyo'>
          <Directory Id='INSTALLDIR' Name='Hoge 1.0'>

            <Merge Id='MergeProg' Language='1041' SourceFile='$(var.4-5-Merge-1-Prog.TargetPath)' DiskId='1'/>
            <Merge Id='MergeDll' Language='1041' SourceFile='$(var.4-5-Merge-2-Dll.TargetPath)' DiskId='1'/>

            <Component Id='Manual'
                       Guid='313C6479-E0A7-4ECD-A641-76BA74BB013E'>
              <File Id='Manual' Name='Manual.pdf' DiskId='1'
                    Source='$(var.SolutionDir)Common\Manual.pdf' KeyPath='yes'>
                <Shortcut Id='startmenuManual' Directory='ProgramMenuDir'
                          Name='取扱説明書' Advertise='yes' />
              </File>
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="ほげ 1.0">
          <Component Id="ProgramMenuDir"
                     Guid="978446C1-90EA-4E24-9F45-9721442CCF36">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU'
                           Key='Software\[Manufacturer]\[ProductName]'
                           Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      
    </Directory>

    <Feature Id='Complete' Title='ほげ 1.0'
             Description='完全パッケージ。' Display='expand'
             Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='プログラム'
               Description='メインの実行ファイル。' Level='1'>
        <MergeRef Id='MergeProg'/>
        <MergeRef Id='MergeDll' />
        <ComponentRef Id='ProgramMenuDir'/>
      </Feature>

      <Feature Id='Documentation' Title='説明書'
               Description='取扱説明書。' Level='1'>
        <ComponentRef Id='Manual' />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
